body {
  background-color: #fdf6e3;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 20px;
}

section {
  text-align: center;
}

strong {
  font-size: xx-large;
}

img {
  max-height: 200px;
}

iframe {
  width: 100%;
}

p,
ul {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 700px;
  text-align: justify;
  font-size: larger;
}
